@import-normalize;

* {
  font-family: 'Harry Potter', serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  height: 100%;
}

html, body {
  height: 100%;
}

@font-face {
  font-family: "Harry Potter";
  src: url("./harry_potter.ttf") format("truetype");
}